[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.10"

[scripts]
setup-python = "D:/Git/Crizon/scripts/setup-python.ps1"
test-file = "D:/Git/Crizon/scripts/test-file.ps1"